<nav class="navbar">
  <div class="navbar-left">
    <a href="/" class="logo"><strong>Hack the Blog</strong></a>
  </div>
  <div class="navbar-right">
    <a href="/admin" class="admin-button">Admin</a>
  </div>
</nav>
