<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />

    <title>Crear Artículo</title>
  </head>
  <body>
    <h1 class="page-title">Editar Artículo</h1>
    <div class="container">
      <form action="/admin/form_edit/<%= article.id %>" method="POST">
        <label for="title">Título:</label>
        <input
          type="text"
          name="title"
          value="<%= article.title %>"
          required
        /><br />
        <label for="content">Contenido:</label>
        <textarea name="content" required><%= article.content %></textarea
        ><br />

        <label for="authorId">ID del Autor:</label>
        <select name="authorId" id="authorId">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
        </select>
        <button type="submit" class="submit-button">Actualizar Artículo</button>
      </form>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
