<!DOCTYPE html>
<html>
  <head>
    <title>Modificar Articulo</title>
  </head>
  <body>
    <h1>Modificar</h1>

    <form action="/articles" method="post">
      <div>
        <label for="autor_id">Autor ID:</label>
        <select name="autor_id" id="autor_id">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>

      <div>
        <label for="title">Título:</label>
        <input type="text" name="title" id="title" />
      </div>

      <div>
        <label for="content">Contenido:</label>
        <textarea name="content" id="content"></textarea>
      </div>

      <div>
        <label for="image">Imagen:</label>
        <input type="file" name="image" id="image" />
      </div>

      <input type="submit" value="Modificar artículo" />
    </form>
  </body>
</html>
