header {
  background-image: url("https://images.pexels.com/photos/442574/pexels-photo-442574.jpeg");
  height: 350px;
}
footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
}
footer p {
  color: #76757d;
  font-family: Lora;
  font-size: 17.5px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
footer svg {
  width: 122px;
  height: 30px;
  margin-bottom: 10px;
}
