.header-container { justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1518665750801-883c188a660d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80");
    height: 350px;
    background-size: cover; /* Adjust as needed */
    background-position: center center; /* Center the background image */
    height: 50vh; /* Set a specific height for your header */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-content {
    color: white;
    padding: 20px; /* Add padding as needed */
}

.header-content h1 {
    
    font-size: 50px; /* Adjust the font size as needed */
}

.header-content p {
    font-size: 18px; /* Adjust the font size as needed */
}

.container h2 {
    color: black;
    font-size: 30px;
    font-weight: bolder;
}
.container p {
    color: grey;
}
footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px; 
}
footer p {
    color: #76757D;
font-family: Lora;
font-size: 17.5px;
font-style: italic;
font-weight: 400;
line-height: normal;
}
footer svg {
    width: 122px; 
    height: 30px; 
    margin-bottom: 10px; 
}